

<div class"home_img">
        <img src="<%= @selfie1 %>">
        <img src="<%= @selfie2 %>">
       <img src="<%= @selfie3 %>">
</div>



<form action="/selfies" method="post">

<!--   	<img src="<%= @selfie1 %>"> -->
    <input type="text" name="kfm_1" placeholder="KFM" />
    <input type="hidden" name="url_1" value="<%= @selfie1 %>">

<!--   	<img src="<%= @selfie2 %>"> -->
    <input type="text" name="kfm_2" placeholder="KFM" />
    <input type="hidden" name="url_2" value="<%= @selfie2 %>">

<!--   	<img src="<%= @selfie3 %>"> -->
    <input type="text" name="kfm_3" placeholder="KFM" />
    <input type="hidden" name="url_3" value="<%= @selfie3 %>">
</div>

  <input type="submit" value="Enter Choices" />
</form>
